html, body {
  padding:10;
  margin:10;
  background-color:black
}

header{
  height:400px;
  display:flex;
  align-items:flex-end;
  justify-content:flex-top;
}
header,img{
  background-image: url(http://www.beardsleyzoo.com/wp-content/uploads/2015/04/MG_1502.jpg);
  background-size:cover;
  background-position:center;
}

h1{
  color:rgb(124,252,0);
  background-color:rgba(0,100,0,0.4);
  padding:10px;    
}

.input{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  color:rgb(124,252,0);
  background-color:rgba(124,252,0,0.3);
  padding: 7px;
  margin: 4px,
}
.parent{
  display:flex;
  justify-content:space-around;
  color:white;
}
.box{
  flex-basis:110px;
  display: inline-block;
  text-align:center;
}
.box>img{
  width:240px;
  }
.box>h2{
  font-size:20px;
  text-align:center;
}
.buttons{
  display:flex;
  justify-content:space-around;
  margin:5px;
}
button{  
  border-radius: 12px;
  background-color: black;
  color: #7CFC00;
  border: 2px solid #006400;
}
h2{
  color:#7CFC00;
  background-color:black;
}

footer{  
  display:flex;
  justify-content:space-around;
  color:#7CFC00;
  border-width:3px;
  border-style: dotted;
  border-color:#006400; 
  margin:10px;
}

footer.texte{ 
  padding:30px;
}
.texte>h3{
  text-align: center;
}

.bottom img{
  height:60px;  
}
.bottom{
  display:flex;
  align-items:center;
  justify-content:flex-end;
  margin:5px;
} 
